.container {
	display: grid;
	height: calc(100vh - 40px);
	/* grid-template-columns: 200px 200px; */
	/* grid-template-columns: 200px auto 200px; */
	/* grid-template-rows: 300px 300px; */
	/* grid-row-gap: 5px;
	grid-column-gap: 5px; */
	/* grid-gap: 5px;
	grid-gap: 5px 1 0px; */

	/* grid-template-columns: 1fr 2fr;
	grid-template-rows: 2fr 8fr; */

	/* short syntax:  */
	/* grid-template: 2fr 8fr / 1fr 2fr; */

	/* grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr); */
	/* short syntax */
	/* grid-template: repeat(3, 1fr) / repeat(3, 1fr); */

	grid-template-columns: repeat (12, 1fr);
	grid-template-rows: 50px auto 50px;
	grid-template-areas:
		"h h h h h h h h h h h h"
		"m m m c c c c c c c c c"
		"f f f f f f f f f f f f";
}

.header {
	grid-area: h;
}
.content {
	grid-area: c;
}
.footer {
	grid-area: f;
}
.menu {
	grid-area: m;
}
