body {
	text-align: center;
	font-size: 20px;
	text-transform: uppercase;
}
.container {
	height: calc(100vh - 40px);
	display: grid;
	background-color: beige;
	grid-template-columns: 1fr 4fr;
	grid-template-rows: 60px 60px 1fr 60px;
	grid-gap: 20px;
	grid-template-areas:
		"header header"
		"nav nav"
		"aside main"
		"footer footer";
}
header {
	grid-area: header;
	background-color: #02bfb1;
}
nav {
	grid-area: nav;
	background-color: #33c361;
}
aside {
	grid-area: aside;
	background-color: #6edb6e;
}
main {
	grid-area: main;
	display: grid;
	grid-gap: 20px;
}
article {
	background-color: #fcd24a;
}
section {
	background-color: #0f98c6;
}
footer {
	grid-area: footer;
	background-color: #02bfb1;
}

@media (max-width: 768px) {
	.container {
		grid-template-rows: 60px 60px 4fr 1fr 60px;
		grid-gap: 10px;
		grid-template-areas:
			"header header"
			"nav nav"
			"main main"
			"aside aside"
			"footer footer";
	}
}
